<div class="container">
        

            <div class="row">
                <div class="col">
                <input type="text" placeholder="Escriba cancion a buscar" #cancion (keyup)="buscar(cancion.value)" class="form-control">
                </div>

            </div>
            <app-loading *ngIf="bandera" class="m-5  "></app-loading>
            <app-tarjetas [dataExterna]="artistas" class="m-5"></app-tarjetas>
</div>      