

<app-loading *ngIf="bandera" class="m-5  "></app-loading>

<div class="row">
      <div class="col-2" >
        <img *ngIf = "dataArtista.images?.length>0" src="{{dataArtista.images[0].url}}" class="img-thumbnail img-circle" alt="..." >
        <img *ngIf = "dataArtista.images?.length==0" src="/assets/img/noimage.png" class="img-thumbnail img-circle" >
      </div>
      <div class="col">
        <h3>{{ dataArtista.name }}</h3>
        <p>
          <a [href]="dataArtista.external_urls?.spotify" target="_blank">Ir a página de artista</a>
        </p>
      </div>
      <div class="col-4 text-right">
          <button routerLink="/search" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="left" title="página aterior">
            <i class="fa fa-arrow-left"></i> Regresar</button>
      </div>
</div>
<div class="row m-5">
      <div class="col">
          <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Foto</th>
                  <th>Albun</th>
                  <th>Canción</th>
                  <th>Vista Previa</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let topTracks of dataTopTracks">
                    <td>
                        <img *ngIf = "topTracks.album.images.length>0" src="{{topTracks.album.images[0].url}}" class="img-thumb" >
                        <img *ngIf = "topTracks.album.images.length==0" src="/assets/img/noimage.png" class="img-thumb">
                    </td>
                    <td>{{topTracks.album.name}}</td>
                    <td>{{topTracks.name}}</td>
                    <td>
                      <iframe [src]="topTracks.uri | domseguro " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
              </tbody>
            </table>
      </div>  
 </div>