  <div class="card-columns "  >
    <div class="card puntero" *ngFor="let item of dataExterna" (click)="buscarArtista(item)">
     <!--  <img src="{{cancion.images[0].url}}" class="card-img-top" alt="..."> -->
      <div>
          <img *ngIf = "item.images.length>0" src="{{item.images[0].url}}" class="card-img-top" alt="...">
          <img *ngIf = "item.images.length==0" src="/assets/img/noimage.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
              <span *ngFor="let artista of item.artists " class="badge badge-pill badge-primary">
                {{artista.name}}
              </span>
          </p>
      </div>
    </div>
  </div>
